label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 5px;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
}

input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: right;
  float: right;
  clear: both;
  margin: 5px;
  height: 17px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-style: bold;
  background-color: #D1C73E;
  height: 50px;
  width: 200px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: #FFFFFF;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: #FFFFFF;
}

.form-group {
  width: 300px;
  margin: 0 auto;
}

.output {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 5px;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
}

.value {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #FFFFFF;
  text-align: right;
  float: right;
  clear: both;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

.button-wrapper {
  text-align: center;
  margin: 0 auto;
}

.zscore-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.standard-zscore-item {
  font-size: 12px;
  object-fit: cover;
}

.standard-zscore-label{
  grid-row-start: 1;
  font-size: 12px;
}

.standard-zscore-value {
  grid-row-start: 1;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-align: right;
  float: right;
  clear: both;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}
